<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="taskbarMenu" aria-label="Icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home']">Home</button>
  <button mat-menu-item [routerLink]="['/premadeWorkouts']">Premade Workouts</button>
  <button mat-menu-item [routerLink]="['/customWorkouts']">Custom Workouts</button>
</mat-menu>

  <span>Fitness Wizard</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" id="logoutButton" (click)="logout()">Logout</button>
</mat-toolbar>

